<body class="componente-fondo">

    <section >
    
           <div class="container-fluid">
               
               <form  action="login">
    
                 <div class="divh2">
                     
                     <h2>FORMULARIO DE CONTACTO DIRECTO</h2>
                 </div>
                     <div  class="input-wrapper" > 
    
                        <label>Nombre: </label>
                        <input type="text" name="nombre" placeholder="Nombre" required="required" class>
                     </div>
    
                     <div  class="input-wrapper" >
    
                         <label>Apellido: </label>
                         <input type="text" name="apellido" placeholder="Apellido" required="required" class>
                     </div>
    
                     <div  class="input-wrapper">
    
                         <label>Correo: </label>
                         <input type="email" name="correo" placeholder="Correo" required="required" class>
                     </div>
    
                     <div class="input-wrapper">
    
                         <label>Pais : </label>
                    
    
                         <select  placeholder="pais" name="pais" required="required" class>
    
                             <option value="Argentina">Argentina</option>
                             <option value="Brasil">Brasil</option>
                             <option value="Chile">Chile</option>
                             <option value="Colombia">Colombia</option>
                             <option value="Ecuador">Ecuador</option>
                             <option value="Mexico">Mexico</option>
                             <option value="Peru">Peru</option>
                             <option value="Estados unidos">EE.UU</option>
    
                         </select>
                        
                     </div>
                              <button class="btn" type="submit">Enviar</button>
                    </form>
    
                        <div class="divatencion">
                            <h4>!!!ATENCION!!!</h4>
    
                          <p> De parte de Mary Kay nunca se te pediran datos como,tarjetas, direccion o dinero por adelantado. 
                            Recuerde que estos datos son privados y solo usted decide si utilizarlos o no. Asegurese de haber recibido la informacion 
                            mediante el correo que nos proporciona a traves de este formulario. Mas adelante si realiza compras y la obtencion de nuestros productos tendra una consultora guia que lo ayudara 
                            a realizar sus compras correctamente y de forma segura. </p>
    
    
                          </div>
    
    
           </div>
    
    
    
    
    
    
    </section>
    

</body>    
