.carrito{
    font-size: 20px;
     margin-top: 5%;
   //  margin-left: 3%;
     text-align: center;
    // background-color: pink;
}

.container-fluid{
  align-items: center;
}

table, td,tr{

    border:1px solid rgb(190, 124, 135);
    text-align: center;
  //  margin-left:30%;
}

table , td , tr{
   background-color: aliceblue;
    
}

 button {
    width: 90px;
    height: auto;
}

 .buttoncompra {
   // padding-left: 10%;
    text-align: center;
    width: 200px;
    height: auto;
    margin-left: 60%;
}

