
<head>
  <link href="/your-path-to-uicons/css/uicons-[your-style].css" rel="stylesheet"> <!--load all styles -->
</head>

<div class="container-fluid">


  <div class="row">

    <h1 class="carrito">CARRITO DE COMPRAS</h1>
  </div>
  
  
  <table *ngFor=" let s of( shoppingList$ | async)"  class="col-12">

               <tr > 
                 <td class="col-2"> {{s.name}}</td>
                 <td class="col-2">unidad {{s.quantity}}  </td > 
                  <td class="col-2">tono {{s.tonalidadseleccionada}}</td>
                  <td class="col-2">precio {{s.precio}}</td>
                  <td class="col-2"> <button (click)="removeFromCart(s)"><img img-fluid src="assets/images/basura.png"></button></td>
             
             </tr>
             <tr class="col-12" id="trbuttoncompra">
               <button class="buttoncompra">Iniciar compra</button>
            </tr>
           

             <br>
             <br>
          </table>
    
</div>




