.carrito{
    font-size: 20px;
     margin-top: 5%;
     margin-left: 2%;
     text-align: center;
    // background-color: pink;
}

.container-fluid{
  align-items: center;
}

table, td,tr{

    border:1px solid rgb(190, 124, 135);
    text-align: center;
    margin-left:40%;
}

thead{
   
    color: white;
}


