
    
    <div class="container-fluid">
        
        
        <div class="row">
    
    
            <div >
    
                <h3>DESCARGA NUESTRA REVISTA VIRTUAL Y ENCUENTRA LAS OFERTAS MAS RECIENTES</h3>
                
            </div>
            
            
            <div class="col-4">
                <img   class="img-fluid" src="assets/images/imagencatalogo.jpg"  (click)="descargarPDF()" style="cursor: pointer;"  >
            </div >


            
             
        </div>
    
                    <div class="col-4" id="divbutton">
    
                
                            <button   (click)="descargarPDF()" >Descargar </button>
                        </div>
                      
    </div>




