




footer, p{
  background: linear-gradient( top/left/right/bottom/#ff7893,#f870b6);
  padding: 10px;
  color: white;
  text-align: center;
  align-items: center;
  font-size: 40px
}

nav{
  margin: 0;
  padding: 0;
  border: 1px solid rgb(207, 149, 158);
}


#btn-btn-outline-success{
  border: 2px solid rgb(255, 183, 195);
}

