<nav class="navbar navbar-expand-lg bg-body-tertiary " >   

  <div class="container-fluid" >
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/consultant']">SE UNA CONSULTORA</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ACERCA DE NOSOTROS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/contact']">CONTACTO</a></li>
            <li><a class="dropdown-item" [routerLink]="['/about us']">ACERCA DE MARYKAY</a></li>
            
            <li><a class="dropdown-item" [routerLink]="['/products']">PRODUCTOS</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shopping-cart']"><img width="25px" src="assets/images/carrito-de-compras.png"></a>
        </li>
      </ul>

      
    
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" id="btn-btn-outline-success"type="submit">BUSCAR</button>
      </form>
    </div>
  </div>
</nav>



 <router-outlet></router-outlet>

 
 <footer> 
  
  <div class="container-fluid">
   
     <div class="row">

       <p  class="col-12">  MARYKAY  &copy; 2024 </p>
     </div>
  </div>


<div  class="row">
    
      <a  id="aa"class="col-2"  href="#">  contacto </a>
   
 
    
       <a   id="aa"class="col-2"   href="#" >terminos y condiciones </a>
  
    
       <a  id="aa"class="col-2"  href="#">acerca de marykay</a> 
    

      
       <a  id="aa"class="col-2"   href="#"> comprar productos</a>
   

      
       <a   id="aa"class="col-2"    href="#">conviertete en consultora </a> 
    

      
      
       <a   id="aa"class="col-2"  href="https://www.flaticon.es/iconos-gratis/mercado" title="mercado iconos">iconos by Flaticon</a>
      
</div>

  



</footer>
  