<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultoras</title>
</head>
<body>

<div class="container-fluid">


    <div class="row">

        <h2> COMIENZA TU RECORRIDO DE EMPODERAMIENTO COMO LA REINA QUE ERES </h2>
      <div class="col-12"  >
          
              <img id="imagen1"  class="img-fluid"[routerLink]="['/form consultant']" src="assets/images/bannerconsultora.jpg">

      </div>
    </div>

    <div class="col-12">
        <img   class="img-fluid"src="assets/images/bannerganaconmk.jpg" width="100%" [routerLink]="['/form consultant']">
    </div>

    <div class="row">
           <div class="col-12">

               <img class="img-fluid" id="imagen1" [routerLink]="['/form consultant']" src="assets/images/frasemotivadoraconsultora.jpg">
           </div>
    </div>
</div>
</body>
</html>
