.fotostabla{
      
    width: 190px;
    height: auto;
   
   }
   
   #table,td, select {
    //display: flex;
    border: 2px solid white;
    text-align: center;
    text-transform: capitalize;
   }
  .titulos{
   text-align: center;
  }

   .clearance{
    border: 2px solid green;
   }
   .producttitle {
    font-size: 20px;
   
    
   }
td{
    width: 120px;
  

}
 .btntable{
    text-transform: capitalize;
     color: #8b124e;
     border: 2px solid #d63384;
 }

 #inputtable{
    text-align: center;
    width: 50px ;
    height: auto;
   
 }
  #inputtable{
    background-color:  #f66cb1;
    border-color: #d63384;
 }
 select{
   width: 100%; /* Ajusta según tus necesidades */
   padding: 8px;
   margin: 8px 0;
   box-sizing: border-box;
 }

 h1,h2{
   text-align: center;
   margin: 2%;
 }

 .col-4 {
   margin-left: 0;
   margin-right: 0;
   padding-left: 150px;
   margin-right: 0%;

 }

 .col-3{
   margin-left: 0;
   margin-right: 0;
   padding-left: 90px;
   margin-right: 0%;

 }