.fotostabla{
      
    width: 190px;
    height: auto;
   
   }
   
   #table,td {
    //display: flex;
    border: 2px solid white;
    text-align: center;
   }

   .clearance{
    border: 2px solid green;
   }
   .producttitle, .container-tittle{
    font-size: 20px;
    text-align: center;
    
   }
td{
    width: 120px;

}
 