
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="product-list.component.scss" rel="stylesheet">
</head>
<body>
    
</body>
</html>

<div class="container-tittle" class="container-fluid">

    <h1 class="producttitle"> LISTA DE PRODUCTOS</h1>
</div>

<table id = 'table' class="container-fluid">
   
    <thead  >
        <tr >
         <th>Imagen</th>
          <th>Nombre</th>
          <th>Tipo</th>
           <th>Precio</th>
           <th>Stock</th>
           <th>Tono</th>
           <th>Compra</th>
        </thead>
        <tbody class="col-6">
            
            <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
                <td ><img class="fotostabla" [src]="product.img" ></td>
                <td>{{product.name}}</td>
                <td>{{product.tipo}}</td>
                <td>{{product.precio | currency}}</td>
                <td><span class="badge text-bg-warning" *ngIf="product.stock==0"> sin Stock </span>  </td>

                <td>
                    <select>
                    <option>{{product.tono1}}</option>
                    <option>{{product.tono2}}</option>
                    <option>{{product.tono3}}</option>

                </select></td>


                 <td> <button  (click)="upQuantity(product)">+</button>
                     <input class="col-3" type="text" [(ngModel)]="product.quantity"   (keyup)="ChangeQuantity($event,product)" > 
                     <button (click)="downQuantity(product)">-</button></td>

                    <td>  <button  (click)="addToCart(product)"> comprar</button></td>
            <tr>
               
                
         
          
         

        </tbody>
    </table>
