
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="product-list.component.scss" rel="stylesheet">
</head>
<body>
    
<div class="container-fluid">
   
   <div class="container-fluid">
        <div class="row"> 

        <h1> MAQUILLAJE</h1>

            <div class="col-12">  
               <img    class="img-fluid"  src="assets/images/propaganda horizontal.jpg">
            </div>
        </div>
              
            <h2>LABIALES</h2>
            <div class="row">

                <div class="col-2">
                        <img    class="img-fluid" src="assets/images/labialesliquidosmateft1.jpg">
                </div>
                
                <div class="col-2">
                    <img   class="img-fluid"  src="assets/images/lapizdelineadorft2.jpg">
                </div>
                <div class="col-2">
                    <img     class="img-fluid" src= "assets/images/lapizenbarraft4.jpg">
                </div>

                <div class="col-2">
                    <img     class="img-fluid" src= "assets/images/brillolabial.jpg">
                </div>

                <div class="col-2">
                    <img     class="img-fluid" src= "assets/images/labialhidratante.jpg">
                </div>

                <div class="col-2">
                    <img     class="img-fluid" src= "assets/images/lapizlabialmate2.jpg">
                </div>







            </div>



        
        </div>

        <div class="row">
          <h2> OJOS</h2>

            <div class="col-2">
                    <img   class="img-fluid"  src="assets/images/pestañasmascklove2.jpg">
            </div>

              <div class="col-2">
                    <img    class="img-fluid" src="assets/images/mascaradpestañasintensity1.jpg">
              </div>
               
               <div class="col-2">
                  <img  class="img-fluid"  src="assets/images/gelvoluminizadorcejas.jpg">
               </div>

               <div class="col-2">
                <img     class="img-fluid" src= "assets/images/delineadorgel3.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/delineadorwaterproof.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/delineadorliquido.jpg">
            </div>







        </div>

        <div class="row">
            <h2>POLVOS</h2>


            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/contornocromanion3.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/duosderubor1.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/iluminadorglazed2.jpg">
            </div>


            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/ruborcromafusion.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/sombrasperfect.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/sombraspettite.jpg">
            </div>



        </div>

        <div class="row">
            <h2>BASES</h2>

            <div class="col-4" >
                <img     class="img-fluid" src= "assets/images/prebase2.jpg">
            </div>

           

            <div class="col-4">
                <img     class="img-fluid" src= "assets/images/basemate3.jpg">
            </div>

            <div class="col-4">
                <img     class="img-fluid" src= "assets/images/correctoryellow1.jpg">
            </div>

           





        </div>

        <div class="row">
            <h2>ACCESORIOS</h2>
   
            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/brochasx2.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/s-brocha-oval.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/s-Brocha-para-Base-Maquillaje-liquida.jpg">
            </div>
            
                        <div class="col-2">
                            <img     class="img-fluid" src= "assets/images/s-brocha-polvo.jpg">
                        </div>
            
                        <div class="col-2">
                            <img     class="img-fluid" src= "assets/images/s-brocha-rubor-compacto-2.jpg">
                        </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/s-brocha-polvo-compacto.jpg">
            </div>



            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/s-brocha-rubor-compacto.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/s-esponja-oscura.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/s-set-brochas.jpg">
            </div>


            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/cepillofacial.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/cabezalcepillo.jpg">
            </div>


            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/cabezalmasaje.jpg">
            </div>


        </div>

       

   </div>


     <div class="container-fluid">
        <div class="row">

            <h1>CUIDADO FACIAL </h1>
        </div>
       <div class="row">

           <div class="col-12">
               <img  class="img-fluid" src="assets/images/portadaparacremas.jpg" width="100%">
            </div>
        </div>

        <div class="row">
            <h2>CREMAS Y LOCIONES</h2>
                  <div class="col-2">
                         <img    class="img-fluid"  src="assets/images/lociocorporal1.jpg">
                  </div>
                  <div class="col-2">
                    <img   class="img-fluid"  src="assets/images/locioncorporal2.jpg">
                  </div>

                  <div class="col-2">
                    <img    class="img-fluid"  src="assets/images/locioncorporal3.jpg">
                  </div>

                  <div class="col-2">
                    <img    class="img-fluid"  src="assets/images/spaymorayvainilla.jpg">
                  </div>


                  <div class="col-2">
                    <img  class="img-fluid"    src="assets/images/locionreafirmanteft2.jpg">
                  </div>

                  <div class="col-2">
                    <img  class="img-fluid"   src="assets/images/minimizadordebolsadojos.jpg">
                  </div>
                      

        
         </div>


         <div class="row">
            <div class="col-2">
                <img class="img-fluid" src="assets/images/mascarillafacialnegra.jpg">
              </div>

              <div class="col-2">
                <img class="img-fluid"  src="assets/images/setcremaslabios.jpg">
              </div>
             
              
              <div class="col-2">
                  <img class="img-fluid" src="assets/images/cremalabios.jpg">
                </div>
                
                <div class="col-2">
                    <img class="img-fluid" src="assets/images/cremaexfoliantelabios.jpg">
                </div>
                
                <div class="col-2">
                  <img class="img-fluid" src="assets/images/gelparpados.jpg">
                </div>
  
                <div class="col-2">
                  <img class="img-fluid" src="assets/images/desmaquilladordeojos.jpg">
                </div>




         </div>

         <div class="row">
              <div class="col-2">   
                     <img  class="img-fluid" src="assets/images/mascarillacorporal.jpg">

              </div>


              <div class="col-2">   
                <img  class="img-fluid" src="assets/images/setcremasdemanos.jpg">

         </div>


         <div class="col-2">   
            <img  class="img-fluid" src="assets/images/setcremasmanoslimitada.jpg">

     </div>



     <div class="col-2">   
        <img  class="img-fluid" src="assets/images/setmanossedakarite.jpg">

 </div>



 <div class="col-2">   
    <img  class="img-fluid" src="assets/images/setmicroexfoliacionft1.jpg">

</div>

<div class="col-2">
   
    <img class="img-fluid" src="assets/images/liquidorefrescanteft4.jpg">
</div>





         </div>


         <div class="row">
            <div class="col-2">

                <img class="img-fluid"  src="assets/images/sueroregeneradorft3.jpg">
            </div>

            <div class="col-2">

                <img class="img-fluid"  src="assets/images/vitaminac+.jpg">
            </div>

            <div class="col-2">

                <img class="img-fluid"  src="assets/images/concentrado ha+.jpg">
            </div>

            <div class="col-2">

                <img class="img-fluid"  src="assets/images/concentrado pha y ha.jpg">
            </div>

            <div class="col-2">

                <img class="img-fluid"  src="assets/images/concentradoacidoferulico.jpg">
            </div>

            <div class="col-2">

                <img class="img-fluid"  src="assets/images/cremadenoche.jpg">
            </div>








         </div>

         <div class="row">


            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/setminimascarilla.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/crema1facial.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/slider4crema2.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/gelefectopeeling.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/locionfacialreafirmante.jpg">
            </div>

            <div class="col-2">
                <img     class="img-fluid" src= "assets/images/cremahumectintensiva.jpg">
            </div>
           





         </div>



    <div class="row">
        
         <h1>FRAGANCIAS</h1>

         <div class="col-12">
            
                <img  class="img-fluid" src= "assets/images/fotoimagentituloperfume.jpg"  width="100%">
           
         </div>

         <h2>FRAGANCIAS PARA ELLOS</h2>

         <div class="col-3">
            <img     class="img-fluid" src= "assets/images/perfumehombre1.jpg">
        </div>

        <div class="col-3">
            <img     class="img-fluid" src= "assets/images/perfumehombre2.jpg">
        </div>

        <div class="col-3">
            <img     class="img-fluid" src= "assets/images/perfumehombre3.jpg">
        </div>

        <div class="col-3">
            <img     class="img-fluid" src= "assets/images/perfumehombre4.jpg">
        </div>

        <div class="col-3">
            <img     class="img-fluid" src= "assets/images/perfumehombre5.jpg">
        </div>

        <div class="col-3">
            <img     class="img-fluid" src= "assets/images/perfumehombre6.jpg">
        </div>

        <div class="col-3">
            <img     class="img-fluid" src= "assets/images/perfumehombre7.jpg">
        </div>

        <div class="col-3">
            <img     class="img-fluid" src= "assets/images/perfumehombre8.jpg">
        </div>

          <h2>FRAGANCIAS PARA ELLAS</h2>

          <div class="col-2">
            <img     class="img-fluid" src= "assets/images/wishperfume2.jpg">
        </div>


        <div class="col-2">
            <img     class="img-fluid" src= "assets/images/pinkperfume7.jpg">
        </div>


        <div class="col-2">
            <img     class="img-fluid" src= "assets/images/mordernperfume12.jpg">
        </div>


        <div class="col-2">
            <img     class="img-fluid" src= "assets/images/maryvelvetperfume8.jpg">
        </div>


        <div class="col-2">
            <img     class="img-fluid" src= "assets/images/marygardenperfume10.jpg">
        </div>


        <div class="col-2">
            <img     class="img-fluid" src= "assets/images/maryblushperfume9.jpg">
        </div>


        <div class="col-2">
            <img     class="img-fluid" src= "assets/images/maryatplayperfume11.jpg">
        </div>


        <div class="col-2">
            <img     class="img-fluid" src= "assets/images/loveperfume3.jpg">
        </div>

        <div class="col-2">
            <img     class="img-fluid" src= "assets/images/foreverperfume6.jpg">
        </div>

        <div class="col-2">
            <img     class="img-fluid" src= "assets/images/dreamperfume4.jpg">
        </div>

        <div class="col-2">
            <img     class="img-fluid" src= "assets/images/belaraperfume1.jpg">
        </div>

        <div class="col-2">
            <img     class="img-fluid" src= "assets/images/liveperfume5.jpg">
        </div>


    </div>

  <br>
  <br>
  <br>

     </div>

     
     











    
    <div class="row">
        
    <h3 class="producttitle"> LISTA DE PRODUCTOS</h3>
</div>

<div class="row">

 <div class="col-8">



<table id = 'table' class="container-fluid">
   
    <thead  >
        <tr >
         <th>Imagen</th>
          <th>Nombre</th>
          <th>Tipo</th>
           <th>Precio</th>
           <th>Stock</th>
           <th>Tono</th>
           <th>Compra</th>
        </thead>
        <tbody >
            
            <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
                <td ><img class="fotostabla" [src]="product.img" ></td>
                <td>{{product.name}}</td>
                <td>{{product.type}}</td>
                <td>{{product.precio | currency}}</td>
                <td><span class="badge text-bg-warning" *ngIf="product.stock==0"> sin Stock </span>  </td>

                <td>
                    <label [attr.for]="'tonalidad-' + product.id">Tono</label>
                    <select [(ngModel)]="product.tonalidadseleccionada" [id]="'tonalidad-'+product.id">
                       
                        <option *ngFor="let tonalidad of product.tonalidades" [value]="tonalidad">
                            {{ tonalidad}}
                        </option>
                    </select>
                  </td>


                 <td> <button  class="btntable" (click)="upQuantity(product)">+</button>
                     <input id="inputtable" type="text" [(ngModel)]="product.quantity"   (keyup)="ChangeQuantity($event,product)" > 
                     <button  class="btntable"(click)="downQuantity(product)">-</button></td>

                    <td>  <button  class="btntable" (click)="addToCart(product)"> comprar</button></td>
                    <tr>
                        
                        
                        
                    </tbody>
                </table>
                
         </div>
            

            <app-shopping-cart   class="col-4">  </app-shopping-cart>
           
       

              <div class="row">
                  <app-cataloge  class="col-12"></app-cataloge>
                </div>
                
                <br>
                <br>
                <br>
                <br>
            </div>  
         

       


</body>
</html>


          
         

