
  <div class="midivanimado"> 
  
    <img id="fotomarykayhorizontal"  src="assets/images/mary kay nombre horizontal.jpg">
  </div>
  
  
 
<div class="container-fluid"  >

    <div class="midiv" >

        <h1   id="container1"  > DESCUBRE MARYKAY</h1>
    </div>
</div>






  <div class="midiv">

 

  <div id="carouselExampleRide" class="carousel slide"   data-bs-ride="true">
    <div class="carousel-inner    ">
      <div class="carousel-item active">
        <img img-fluid src="assets/images/propaganda timewarrepair.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item ">
        <img img-fluid src="assets/images/propaganda duo sombras.jpg" class="d-block w-50" alt="...">
      </div>

      <div class="carousel-item ">
        <img img-fluid src="assets/images/propaganda de hidratante.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item ">
        
          <img img-fluid src="assets/images/espuma limpiadora nocturna.jpg">
      </div>
    </div>





    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>



<div class="container-fluid">
     <h1>ALGUNAS OPCIONES DE NUESTRO CATALOGO DE HIGIENE Y CUIDADO FACIAL</h1>
  <div class="container-fluid">

    <div class="row" >
       <div class="col-6">
        <img id="imges" src="assets/images/foto 3 set botanical completo.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
    </div>

    <div class="col-6">
        <img id="imges" src="assets/images/gel limpiador botanical.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
    </div>

      
   
</div>
</div>

<div class="container-fluid">


      <div class="row">
        
             <div class="col-6" >
                <img id="divfotosolo" src="assets/images/foto1 cremas rosas.jpg">
              <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>    -->
                <br>
           </div>

        
      </div>
    </div>
 




  
  <div class="container-fluid">
  
  
  <div class="row ">
    <div class=" col-7 "> <app-product-list></app-product-list></div>
    <div class=" col-5  "> <app-shopping-cart> </app-shopping-cart> </div>
  </div>
  
  </div>
 
