
.midivanimado{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: auto;
    animation:cambiaTamanoColor 15s infinite; 
    background-color: pink;
  }
  
.midiv {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: auto;
  background-color: pink;
}


 .carousel-inner {
 
  
  margin-top: 150px;
 // margin-left: 100px;
  margin-bottom: 150px;
}

.carousel-item {

margin-left: 300px;
}



  @keyframes cambiaTamanoColor {
    80%{
        width: 0%;
        background-color: pink;
    }
    50%{
        width: 100%;
      background-color: rgb(255, 176, 246);
    }
  
    100%{
        width: 0%;
        background-color: pink;
    }
  }



h1, p{
  text-align: center;
}

#container1{
  margin-top: 100px;
 
}

#imges{
  padding: 10px;
// margin-left: 100px;
// padding: 5px;
  height: 500px;
  width: auto;
  margin-bottom: 40px;
}


#fotomarykayhorizontal{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    margin: 55px;
   
    
  }

 
  

  
  .col-6{
    border: 3px solid palevioletred;

  }

  #buttonhome{
    width: 100px;
    height: auto;
   
    border-color:  rgb(244, 94, 144);
    color: aliceblue;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  

  .row{
    align-content: center;
    align-items: center;
    text-align: center;
   
  }

  
 #imagentelefono{
  margin-top: 2%;
  width: 100%;
  height: auto;
 }
 #imagenhome{

  margin-bottom: 5%;
 }